@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --color-primary-50: #1d9fb7;
    --color-primary-100: #06434f;
    --color-primary-200: #9be7f5;
    --color-primary-300: #73ddf1;
    --color-primary-400: #4cd4ed;
    --color-primary-500: #7592dc;
    --color-primary-600: #b87618;
    --color-primary-700: #157486;
    --color-primary-800: #0d4954;
    --color-primary-900: #061e23;

    h1 {
        @apply font-bold text-3xl md:text-4xl mb-2;
    }

    h2 {
        @apply font-bold text-2xl md:text-3xl mb-2;
    }

    h3 {
        @apply font-bold text-xl md:text-2xl mb-2;
    }
}